
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkolivegreen;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align:left;
    margin-top: 0;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px;
    border-bottom: 1px solid #eee;
}